################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo-WS-SOAP/Demo-WS-SOAP/bin
/Demo-WS-SOAP/Demo-WS-SOAP/obj/Debug
