################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo-WS-SOAP/Demo-WS-SOAP/bin
/Demo-WS-SOAP/Demo-WS-SOAP/obj/Debug
/Demo-WS-SOAP/SOAP-Client/obj/Debug
/Demo-WS-SOAP/SOAP-Client/bin/Debug
/Security-WS-SOAP/.vs/Security-WS-SOAP
/Security-WS-SOAP/Security-SOAP-Client/bin/Debug
/Security-WS-SOAP/Security-SOAP-Client/obj
/Security-WS-SOAP/Security-WS-SOAP/bin
/Security-WS-SOAP/Security-WS-SOAP/obj
/Demo-WS-SOAP/Demo-WS-SOAP/obj/Release
/Demo-WS-SOAP/SOAP-Client/obj/Release
